        <h3 class="text-center">My Dashboard</h3>
        <a href="/logout" class="card-link d-flex justify-content-center">Log Out</a>

        <h4 class="text-center m-4">
        posts by 
        <small class="text-muted">{{userPosts.name}}</small>
        </h4>
{{!-- Button to Create New Post --}}
        <button type="button" class="btn btn-outline-success d-grid gap-2 col-6 mx-auto" data-bs-toggle="modal" data-bs-target="#newBlogPost" data-bs-whatever="Title" id="newPostBtn">Write new post</button></button>

{{!-- Modal for New Post Input--}}
<div id="newBlogPost" class="modal fade" tabindex="-1" aria-labelledby="newBlogPost" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Create a new post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" >Title:</label>
            <input type="text" class="form-control" id="newPostTitle">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label" >Description:</label>
            <textarea class="form-control" id="newPostDescription"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="submitBtn" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

{{!-- Saved User Posts --}}
<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
          {{#each userPosts.blogs}}
          {{> mydashboardposts}}
          {{/each}}
</div>