        <section placeholder="intro">
        <div class="mb-5 px-5" >
        <p class="text-success text-center font-monospace">Welcome to our technology blog, where we explore the latest trends, developments, and innovations in the fast-paced world of technology. From AI and machine learning to blockchain and the Internet of Things, we cover a wide range of topics to keep you up-to-date and informed about the cutting-edge technologies shaping our world.
        <br>
        <br> Join us as we explore the exciting and rapidly-evolving landscape of technology, and discover the potential of new technologies to transform our world for the better. Thank you for visiting our blog, and we hope you enjoy reading our articles as much as we enjoy writing them!</p>
        </div>
        </section>

    {{#each blogPosts as |eachPost|}}
    {{>blogposts}}
    {{/each}}