        <section placeholder="intro">
            <div class="mb-5 px-5 fw-light" >
                <p class="text-center">Join us as we explore the exciting and rapidly-evolving landscape of technology. Thank you for visiting our blog, and we hope you enjoy reading our articles as much as we enjoy writing them!</p>
            </div>
        </section>

    {{#each blogPosts as |eachPost|}}
    {{>blogposts}}
    {{/each}}