
        <h4 class="text-center">
        Posts by 
        <small class="text-muted">{{userPosts.name}}</small>
        </h4> 
    <section placeholder="blogposts" class="my-4 row">
          {{#each userPosts.blogs}}
        {{> authorposts}}
          {{/each}}
    </section>